@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

body {
    background-image: url('img/kamera.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Oswald", sans-serif;
}

.ider-text {
    background-color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 15px;
}

.logo {
    display: flex;
    align-items: center;
    left: 10px;
}

.logo img {
    width: 150px;
    height: auto;
    max-height: 150px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 20px;
    transition: all ease 0.5s;
    z-index: 9999;
    background-color:rgb(0, 0, 0,0.9);
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header ul li {
    margin: 0 15px;
}

header ul li a {
    color: #000;
    transition: color 0.5s ease;
    font-weight: 500;
}

header ul li a:hover {
    color: #7fffd4;
}

.search-from {
    display: flex;
    align-items: center;
}

.search-from input[type=text] {
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: 10px;
    outline: none;
    width: 300px;
    background: transparent;
    cursor: pointer;
    height: 30px;
    color: #fff;
}

.search-from input:hover {
    background-color: rgb(17, 161, 165);
}

::placeholder {
    color: white;
}

.container {
    border: 2px solid white;
    width: 90%;
    margin: 150px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    flex-wrap: wrap;
    background-color:rgba(2, 2, 2, 0.7)
    
}

.poster-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.poster-menu {
    width: 14%;
    max-width: 240px;
    position: relative;
    text-align: center;
    overflow: hidden;
    
}

.poster-menu img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.poster-menu:hover {
    transform: scale(1.2);
    z-index: 2;
    transition: all 0.3s ease;
}

.poster-menu:hover img {
    transform: scale(1.1);
}

.poster-info {
    position: absolute;
    color: #fff;
    font-size: 85%;
    
    background-color: gray;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    transition: all 0.3s ease;
}

.poster-menu:hover .poster-info {
    bottom: 20px;
    width: 100%
}

.poster-meta {
    position: absolute;
    top: 2px;
    left: 5px;
    color: white;
    background-color: gray;
    opacity: 0.8;
    border-radius: 10px;
    font-size: 70%;
    padding-inline: 5px;
}

.poster-menu:hover .poster-meta {
    top: 2px;
    font-size: 65%;
    
}

.movie-summary {
    display: none;
    text-align: left;
    padding-inline: 8px;
    padding-bottom: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 10px;
    font-size: 0.72vw;
    width: 90%;
    height: 73%;
    top: 10%;
    left: 5%;
}

.poster-menu:hover .movie-summary {
    display: block;
}

.IMDB {
    color: yellow;
    position: absolute;
    top: 2px;
    right: 5px;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 10px;
    padding-inline: 5px;
    font-family: "Oswald", sans-serif;
}

.icon-container {
    width: 50px;
}

.icon-1 {
    transform: scaleX(-1);
    width: 40px;
    transition: all 0.3s ease;
}

.icon-1:hover {
    width: 50px;
}

.icon-2 {
    width: 40px;
    transition: all 0.3s ease;
}

.icon-2:hover {
    width: 50px;
    
}



.actor-container {
    
    margin-top: 5%;

}

.actor-boxes{
  display: flex;
  justify-content: center;
  align-items: center;
}

.actor-name {
    font-size: 11px;
    color:white;
    margin-top: 12%;
    margin-bottom: 5%;
    

}
.actor-img{
    max-width: 400px;
    max-height: 400px;
}
.actor-img img{
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid yellow;
    width: 40%;
    height: 40%;
   
}

.actor-img img:hover{
    transform: scale(1.1);
    
}

.actors-header {
    background-color: aquamarine;
    font-size:20px;
    font-family: "Poppins", sans-serif;
}


.movie-name{
    font-size: 20px;
    color: #fff;
    text-align: left;
    
  
    
}

.bottom-container{
    display: flex;
    position: relative;
    
}
.movies-photo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-left: 100px;
    gap: 10px;
    
    
}

.movie-item{
    position: relative;
    width: 230px;
    height: 370px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
 
        
}

.movie-item img{
    width: 230px;
    height: 370px;
    transition: opacity 0.3s ease;
    object-fit: cover;
}

.movie-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.movie-item:hover .movie-info {
    opacity: 1;
}

.movie-item:hover img{
    opacity: 0.3;
}

.movie-info h3 {
    font-size: 18px;
    margin: 0;
    padding: 10px;
}

.film{
    margin-left: 100px;
    margin-top: 80px;
}

.category {
    background-color: #000000; /* Arka plan rengi */
    padding: 20px; /* İç boşluk */
    border-radius: 8px; /* Köşe yuvarlama */
    width: 350px; /* Genişlik */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Gölge */
    position: absolute; /* Konumlandırma */
    top: 130px; /* Üstten boşluk */
    right: 0; /* Sağdan boşluk */
    margin: 15px; /* Margin ayarları */
}

.category h2 {
    font-size: 1.5em; /* Başlık boyutu */
    color:white; /* Başlık rengi */
    margin-bottom: 15px; /* Başlık ile liste arasındaki boşluk */
}

.category ul {
    list-style-type: none; /* Liste işaretlerini kaldır */
    padding: 0; /* İç boşluğu kaldır */
    margin: 0; /* Dış boşluğu kaldır */
}

.category ul li {
    font-size: 1.1em; /* Liste elemanı boyutu */
    color: white; /* Liste elemanı rengi */
    padding: 8px 0; /* Liste elemanları arasındaki boşluk */
    border-bottom: 1px solid #ddd; /* Liste elemanlarının altına çizgi */
}

.category ul li:last-child {
    border-bottom: none; /* Son liste elemanının altında çizgi olmasın */
}

.category ul li:hover{
    color: aquamarine;
    
}

.pagination {
    display: flex;
    justify-content: center; /* Sayfanın ortasına hizalar */
    padding: 20px;
    
}

.pagination a {
    color: white; /* Link rengi */
    padding: 5px 8px; /* İç boşluk */
    text-decoration: none; /* Alt çizgi yok */
    border: 1px solid #ddd; /* Kenarlık */
    margin: 0 2px; /* Aralık */
    border-radius: 4px; /* Köşe yuvarlama */
}

.pagination a:hover {
    background-color: #7fffd4; /* Hover rengi */
}

.pagination a.active {
    background-color: #4CAF50; /* Aktif sayfa rengi */
    color: white;
}


.box{
    display: flex;
    justify-content: center;
   
    
}
.movie-all-movie{
    width: 80%;
    margin-top: 15%;
    background-color: rgb(71, 67, 67, 0.95);
    border-radius: 10px;
    padding: 20px; 
    overflow: hidden; /* Taşmayı önlemek için */
    
    
    
    

}

.movieTitle h3{
    color: #fff;
    font-size: 200%;
    margin: 1% 2%;
    text-align: left;


}

.box1{
    display: flex;
    height: 500px;
    border:2px solid red
}

.movieInformationPhoto{
    align-items: center;
    justify-content: center;
}

.movieInformationPhoto img{
    border: #E6F898 solid 2px;
    left: 0;
    width: 95%;
    max-width: 300px;
    margin-left: 2%;
}

.movie-shorts{
    border:2px solid purple;
    text-align: left;
    font-size: 150%;
    width: 65%;
    color: #E6F898;
    padding-left: 2%;
}
.movieInformation{
    
    
    font-size: clamp(12px, 1.4vw, 25px);
    color: #fff;
    
}

.movieIcons{
    display: flex;
    font-size: 60%;
    align-items: center;
    gap: 2%;
    color: #ffffff;
}

.movieIcons img{
    width: 12%;
    
}

.movieIcons-info{
    display: flex;
    font-size: 40%; 
    gap: 2%;
    color: #ffffff;
    margin-bottom: 8px;
    display: flex;
    
}

.movieIcons-info img{
    width: 6%;
    margin-bottom: 8px;
    
}